<%= form_for(@invent) do |f| %>
  <% if @invent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invent.errors.count, "error") %> prohibited this invent from being saved:</h2>

      <ul>
      <% @invent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
<<<<<<< HEAD
    <div class="field">
      <%= f.label :link %><br>
      <%= f.text_field :link %>
    </div>
=======
>>>>>>> 22f8c4ffc55da71574bc03ee29fb5f5032df17b9
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
