<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invents.each do |invent| %>
      <tr>
        <td><%= invent.name %></td>
        <td><%= invent.title %></td>
        <td><%= invent.date %></td>
        <td><%= link_to 'Show', invent %></td>
        <td><%= link_to 'Edit', edit_invent_path(invent) %></td>
        <td><%= link_to 'Destroy', invent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invent', new_invent_path %>
